<% if current_user%>
	<a href="/questions/new">Add Question</a>

	<%= @question.body %>

	<%= form_for (@user_answer) do |form| %>

		<%= form.radio_button :answer, true %>
		<%= form.label :answer_yes, "Yes" %>

		<%= form.radio_button :answer, false %>
		<%= form.label :answer_no, "No" %>

		<%= form.hidden_field :user_id, :value => session[:user_id] %>
		<%= form.hidden_field :question_id, :value => @question.id %>
		<%= form.submit("Submit") %>
	<% end %>


	<%= @answer %>

<% end %>






