<!DOCTYPE html>
<html>
<head>
  <title>Quizzr</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<header>
	<%= form_tag("/login", method: "post") do %>	  
  	<%= text_field_tag(:username) %>
  	<%= password_field_tag(:password) %>
  	<%= submit_tag("Log in") %>
	<% end %>
</header>


<%= yield %>

</body>
</html>
