<!DOCTYPE html>
<html>
<head>
  <title>Quizzr</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<header>

<% if session[:username]%>
  <%= "Welcome, #{session[:username]}." %>
  <%= form_tag("/logoff", method: "post") do %> 
    <%= submit_tag("Log off") %>
  <% end %>

<% else %>
	<%= form_tag("/login", method: "post") do %>	  
  	<%= text_field_tag(:username) %>
  	<%= password_field_tag(:password) %>
  	<%= submit_tag("Log in") %>
	<% end %>

	<%= form_tag("/signup", method: "post") do %>	
		<%= submit_tag("Sign up") %>
	<% end %>
<% end %>

</header>


<%= yield %>

</body>
</html>
